body{
  font-family: arial, sans-serif;
  margin:0;
}
.main-nav{
  background-color: #333333;
  font-size: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
}
.nav-ideas{
  color: #62B7BB;
}
.nav-trail{
  color:#288bcd;
}
.nav-mountains{
  color:#ee5573;
}
.nav-life{
  color: #ffa73a;
}
.nav-link{
  text-decoration: none;
  padding:10px 20px;
  display: inline-block;
  border-radius:15px;
  margin: 5px;
}
.nav-link:hover {
  background-color: rgba(255,255,255,0.1);
}
/* Hero Style*/
.hero-yellow{
  min-height: 400px;
  background-image: url('images/city-yellow.jpg');
  text-align:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: white;
}
.hero-h1{
  margin:0;
  padding-top: 100px;
}

.left-box-yellow{
  border: 2px solid #ffa73a;
  width: 300px;
  height: 300px;
  display: inline-block;
  vertical-align: top;
  margin:30px;
  background-color: #ffa73a;
}
.right-box-yellow{
  border: 2px solid #ffa73a;
  width: 300px;
  height: 300px;
  display: inline-block;
  vertical-align: top;
  background-color: #ffa73a;
}
.left-box-blue{
  border: 2px solid blue;
  width: 300px;
  height: 300px;
  display: inline-block;
  vertical-align: top;
  margin:30px;
  background-color: blue;
}
.right-box-blue{
  border: 2px solid blue;
  width: 300px;
  height: 300px;
  display: inline-block;
  vertical-align: top;
  background-color: blue
}
.left-box-red{
  border: 2px solid red;
  width: 300px;
  height: 300px;
  display: inline-block;
  vertical-align: top;
  margin:30px;
  background-color: red;
}
.right-box-red{
  border: 2px solid red;
  width: 300px;
  height: 300px;
  display: inline-block;
  vertical-align: top;
  background-color: red;
}
.main-content{
  text-align:center;
}

.hero-blue{
  background-image: url('images/snow-blue.jpg');
}
.hero-red{
  background-image: url('images/mountains-red.jpg');
}

















































































































































